#Ignore virtual environment
venv/

#Ignore environment variables
.env

#Ignore IDE/Editor specific files (* means anything with this extension)
*.vscode/          
.idea/

#Ignore compiled Py files
__pycache__/
*.pyc

#ignore macOS system files
.DS_Store
**/.DS_Store

api-key.txt

#ignore windows sys files
Thumbs.db

#ignore py flask server log files
*.log
instance/
.pytest_cache/

#local build temp files
tmp/
uploads/

#jumbo size authoring files (not for deployment)
*.psd
*.ai

# Design & Authoring Source Files (Photoshop, Illustrator, Figma, Sketch) 
*.psd 
*.ai 
*.sketch 
*.fig 

# Video Editing Project Files (Premiere, After Effects, Final Cut) 
*.prproj 
*.aep 
*.fcpx 
*.fcp 

# Raw / Large Media Files (Video & Audio) 
*.mov 
*.avi 
*.mkv 
*.wmv 
*.flv 
*.wav 
*.aac 

# Archive / Compressed Files (don't track large zip backups) 
*.zip 
*.tar 
*.gz 
*.7z 
*.rar
